Repository vasct/clevertap-android-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Geofence, HMS, Push Templates

Add Tests for CTInAppNotificationButton
  .github/workflows/on_pr_from_task_to_develop.yml
  clevertap-core/src/main/java/com/clevertap/android/sdk/inapp/CTInAppNotification.java
  clevertap-core/src/main/java/com/clevertap/android/sdk/inapp/CTInAppNotificationButton.java
  clevertap-core/src/main/java/com/clevertap/android/sdk/inapp/CTInAppNotificationButton.kt
  clevertap-core/src/test/java/com/clevertap/android/sdk/inapp/CTInAppNotificationButtonTest.kt
  clevertap-hms/src/main/java/com/clevertap/android/hms/CTHmsMessageHandler.java
  clevertap-hms/src/test/java/com/clevertap/android/hms/HmsMessageHandlerTest.kt
  gradle-scripts/jacoco_root.gradle
  test_shared/src/main/java/com/clevertap/android/shared/test/RobolectricTest.kt
Due: Core, HMS

Add Tests for CTInAppNotificationButton (#15)
  .github/workflows/on_pr_from_task_to_develop.yml
  clevertap-core/src/main/java/com/clevertap/android/sdk/inapp/CTInAppNotification.java
  clevertap-core/src/main/java/com/clevertap/android/sdk/inapp/CTInAppNotificationButton.java
  clevertap-core/src/main/java/com/clevertap/android/sdk/inapp/CTInAppNotificationButton.kt
  clevertap-core/src/test/java/com/clevertap/android/sdk/inapp/CTInAppNotificationButtonTest.kt
  clevertap-hms/src/main/java/com/clevertap/android/hms/CTHmsMessageHandler.java
  clevertap-hms/src/test/java/com/clevertap/android/hms/HmsMessageHandlerTest.kt
  gradle-scripts/jacoco_root.gradle
  test_shared/src/main/java/com/clevertap/android/shared/test/RobolectricTest.kt
Due: Core, HMS

Change some lines
  clevertap-core/src/main/java/com/clevertap/android/sdk/inapp/InAppController.java
Due: Core

Change some lines (#16)
  clevertap-core/src/main/java/com/clevertap/android/sdk/inapp/InAppController.java
Due: Core

Develop (#17)
  .github/workflows/on_pr_from_task_to_develop.yml
  clevertap-core/src/main/java/com/clevertap/android/sdk/inapp/CTInAppNotification.java
  clevertap-core/src/main/java/com/clevertap/android/sdk/inapp/CTInAppNotificationButton.java
  clevertap-core/src/main/java/com/clevertap/android/sdk/inapp/CTInAppNotificationButton.kt
  clevertap-core/src/main/java/com/clevertap/android/sdk/inapp/InAppController.java
  clevertap-core/src/test/java/com/clevertap/android/sdk/inapp/CTInAppNotificationButtonTest.kt
  clevertap-hms/src/main/java/com/clevertap/android/hms/CTHmsMessageHandler.java
  clevertap-hms/src/test/java/com/clevertap/android/hms/HmsMessageHandlerTest.kt
  gradle-scripts/jacoco_root.gradle
  test_shared/src/main/java/com/clevertap/android/shared/test/RobolectricTest.kt
Due: Core, HMS

Add create kv action
  clevertap-core/src/main/java/com/clevertap/android/sdk/inapp/CTInAppAction.kt
  clevertap-core/src/test/java/com/clevertap/android/sdk/inapp/CTInAppActionTest.kt
Due: Core

Set only one jacoco report
  .github/mini_flows/test_and_coverage_debug/action.yml
  .github/mini_flows/test_and_coverage_release/action.yml
  .github/workflows/manually_validate.yml
  .github/workflows/on_pr_from_develop_to_master.yml
  .github/workflows/on_pr_from_task_to_develop.yml
  .github/workflows/on_pr_merged_in_master.yml
Due: none

Add check for github token
  .github/mini_flows/test_and_coverage_debug/action.yml
  .github/workflows/on_pr_from_develop_to_master.yml
  .github/workflows/on_pr_merged_in_master.yml
Due: none

Add moranaapps
  .github/mini_flows/test_and_coverage_debug/action.yml
Due: none

Set sensitivity to summary
  .github/mini_flows/test_and_coverage_debug/action.yml
Due: none

Summary no modules
  .github/mini_flows/test_and_coverage_debug/action.yml
Due: none

Minimal
  .github/mini_flows/test_and_coverage_debug/action.yml
Due: none

Minimal glob paths
  .github/mini_flows/test_and_coverage_debug/action.yml
  .github/mini_flows/test_and_coverage_release/action.yml
Due: none

Fix action
  .github/mini_flows/test_and_coverage_debug/action.yml
  .github/mini_flows/test_and_coverage_release/action.yml
Due: none

Final config
  .github/mini_flows/test_and_coverage_debug/action.yml
  .github/mini_flows/test_and_coverage_release/action.yml
  .github/workflows/manually_validate.yml
Due: none

Add baseline report
  .github/mini_flows/test_and_coverage_debug/action.yml
Due: none

Add baseline develop
  .github/workflows/on_pr_from_task_to_develop.yml
Due: none

Fix working dir for baseline report
  .github/mini_flows/test_and_coverage_debug/action.yml
Due: none

Improve paths
  .github/mini_flows/test_and_coverage_debug/action.yml
Due: none

No baseline branch
  .github/mini_flows/test_and_coverage_debug/action.yml
  .github/workflows/on_pr_from_task_to_develop.yml
Due: none

With baseline new
  .github/mini_flows/test_and_coverage_debug/action.yml
  .github/workflows/on_pr_from_task_to_develop.yml
Due: none

Fix baseline value
  .github/mini_flows/test_and_coverage_debug/action.yml
Due: none

Set summary level code coverage
  .github/mini_flows/test_and_coverage_debug/action.yml
Due: none

Make paths the same
  .github/mini_flows/test_and_coverage_debug/action.yml
Due: none

Add baseline cleanup
  .github/mini_flows/test_and_coverage_debug/action.yml
Due: none

Revert baseline
  .github/mini_flows/test_and_coverage_debug/action.yml
Due: none

Extract jacoco report to its own file
  .github/mini_flows/test_and_coverage_debug/action.yml
  .github/mini_flows/test_coverage_report/action.yml
Due: none

Final config
  .github/mini_flows/test_and_coverage_debug/action.yml
  .github/mini_flows/test_and_coverage_release/action.yml
  .github/mini_flows/test_coverage_report/action.yml
  .github/workflows/on_pr_from_develop_to_master.yml
  .github/workflows/on_pr_merged_in_master.yml
Due: none

Add create kv action (#18)
  .github/mini_flows/test_and_coverage_debug/action.yml
  .github/mini_flows/test_and_coverage_release/action.yml
  .github/mini_flows/test_coverage_report/action.yml
  .github/workflows/on_pr_from_develop_to_master.yml
  .github/workflows/on_pr_from_task_to_develop.yml
  .github/workflows/on_pr_merged_in_master.yml
  clevertap-core/src/main/java/com/clevertap/android/sdk/inapp/CTInAppAction.kt
  clevertap-core/src/test/java/com/clevertap/android/sdk/inapp/CTInAppActionTest.kt
Due: Core

Change mandatory files
  CHANGELOG.md
  docs/CTCORECHANGELOG.md
  gradle/libs.versions.toml
  templates/CTCORECHANGELOG.md
Due: none

Remove debug tests from PRs to master
  .github/mini_flows/test_and_coverage_release/action.yml
  .github/mini_flows/test_coverage_report/action.yml
  .github/workflows/on_pr_from_develop_to_master.yml
Due: none

Add new changes to github actions
  .github/mini_flows/test_and_coverage_debug/action.yml
  .github/mini_flows/test_coverage_report/action.yml
  .github/workflows/on_pr_merged_in_master.yml
Due: none

Path conditions:
  Core: any of: clevertap-core/**
  Geofence: any of: clevertap-geofence/**
  HMS: any of: clevertap-hms/**
  Push Templates: any of: clevertap-pushtemplates/**
